body {
    text-align: center;
    background-color: rgb(181, 201, 201);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    background-color: white;
    max-width: 40%;
    border-radius: 10px;
    margin: 10em auto;
    margin-bottom: 4em;
    padding: 2em;
    box-shadow: 10px 10px 5px hsl(180, 16%, 40%);
    line-height: 2em;
}

button {
    margin-top: 2em;
    padding: 1em 5em;
    border-radius: 2em;
    cursor: pointer;
    background-color:hsl(180, 16%, 85%); 
}

button:hover {
    background-color: hsl(180, 16%, 90%); 
}

button:active {
    background-color:bisque;
}


.tasks {
    background-color: white;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
}


